<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>image_00.jpg</string>
		<key>name</key>
		<string>aaaa</string>
		<key>price</key>
		<integer>0</integer>
		<key>soldNum</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_01.jpg</string>
		<key>name</key>
		<string>bbbb</string>
		<key>price</key>
		<integer>1</integer>
		<key>soldNum</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_02.jpg</string>
		<key>name</key>
		<string>cccc</string>
		<key>price</key>
		<integer>2</integer>
		<key>soldNum</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_03.jpg</string>
		<key>name</key>
		<string>dddd</string>
		<key>price</key>
		<integer>3</integer>
		<key>soldNum</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_04.jpg</string>
		<key>name</key>
		<string>eeee</string>
		<key>price</key>
		<integer>4</integer>
		<key>soldNum</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_05.jpg</string>
		<key>name</key>
		<string>ffff</string>
		<key>price</key>
		<integer>5</integer>
		<key>soldNum</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_06.jpg</string>
		<key>name</key>
		<string>gggg</string>
		<key>price</key>
		<integer>6</integer>
		<key>soldNum</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_07.jpg</string>
		<key>name</key>
		<string>hhhh</string>
		<key>price</key>
		<integer>7</integer>
		<key>soldNum</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_08.jpg</string>
		<key>name</key>
		<string>iiii</string>
		<key>price</key>
		<integer>8</integer>
		<key>soldNum</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_09.jpg</string>
		<key>name</key>
		<string>jjjj</string>
		<key>price</key>
		<integer>9</integer>
		<key>soldNum</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_10.jpg</string>
		<key>name</key>
		<string>kkkk</string>
		<key>price</key>
		<integer>10</integer>
		<key>soldNum</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_11.jpg</string>
		<key>name</key>
		<string>llll</string>
		<key>price</key>
		<integer>11</integer>
		<key>soldNum</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_12.jpg</string>
		<key>name</key>
		<string>西餐</string>
		<key>price</key>
		<integer>100</integer>
		<key>soldNum</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_13.jpg</string>
		<key>name</key>
		<string>mmmm</string>
		<key>price</key>
		<integer>13</integer>
		<key>soldNum</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_14.jpg</string>
		<key>name</key>
		<string>nnnn</string>
		<key>price</key>
		<integer>14</integer>
		<key>soldNum</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_15.jpg</string>
		<key>name</key>
		<string>oooo</string>
		<key>price</key>
		<integer>15</integer>
		<key>soldNum</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_16.jpg</string>
		<key>name</key>
		<string>pppp</string>
		<key>price</key>
		<integer>16</integer>
		<key>soldNum</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_17.jpg</string>
		<key>name</key>
		<string>qqqq</string>
		<key>price</key>
		<integer>17</integer>
		<key>soldNum</key>
		<integer>17</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_18.jpg</string>
		<key>name</key>
		<string>rrrr</string>
		<key>price</key>
		<integer>18</integer>
		<key>soldNum</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_19.jpg</string>
		<key>name</key>
		<string>ssss</string>
		<key>price</key>
		<integer>19</integer>
		<key>soldNum</key>
		<integer>19</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_20.jpg</string>
		<key>name</key>
		<string>tttt</string>
		<key>price</key>
		<integer>20</integer>
		<key>soldNum</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_21.jpg</string>
		<key>name</key>
		<string>uuuu</string>
		<key>price</key>
		<integer>21</integer>
		<key>soldNum</key>
		<integer>21</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_22.jpg</string>
		<key>name</key>
		<string>vvvv</string>
		<key>price</key>
		<integer>22</integer>
		<key>soldNum</key>
		<integer>22</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_23.jpg</string>
		<key>name</key>
		<string>wwww</string>
		<key>price</key>
		<integer>23</integer>
		<key>soldNum</key>
		<integer>23</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_24.jpg</string>
		<key>name</key>
		<string>xxxx</string>
		<key>price</key>
		<integer>24</integer>
		<key>soldNum</key>
		<integer>24</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>image_25.jpg</string>
		<key>name</key>
		<string>yyyy</string>
		<key>price</key>
		<integer>25</integer>
		<key>soldNum</key>
		<integer>25</integer>
	</dict>
</array>
</plist>
